<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <form action="">
    <div class="bg-white shadow-xl p-6 mt-5 container mx-auto">
        <h1>Are you sure you want to delete this post ? </h1>
        <button type="submit" class="bg-rose-500 p-2 text-white mt-3 rounded">Delete</button>
    </div>
    </form>
    
</body>
</html>
